<div class="events-container">
    <div class="events-list">
      <h1>Events</h1>
      <!-- Iterate through the array of events and display each event -->
      <div class="event-box" *ngFor="let event of events">
        <div class="event-container">
          <div class="event-header">
            <span class="event-location">Oklahoma</span>
            <div class="event-details">
              <span class="event-date">{{
                event.date | date : "dd/MM/yyyy"
              }}</span>
              <span class="event-name">{{ event.event_name }}</span>
            </div>
          </div>
          <div class="event-content">
            {{ event.content }}
          </div>
        </div>
      </div>
    </div>
    <div class="meetings">
      <!-- Display the Meeting Component on the right -->
      <app-meeting></app-meeting>
    </div>
  </div>
