<div class="request-loan">
    <!-- Shape on the same line as the page title -->
    <div class="title-container">
      <div class="shape">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="27"
          height="27"
          viewBox="0 0 27 27"
          fill="none"
        >
          <path
            d="M26.1534 23.207C26.1369 24.9496 24.7109 26.3489 22.9682 26.3325L4.0365 26.1534C2.29389 26.1369 0.894581 24.7109 0.911065 22.9682L1.09014 4.0365C1.10663 2.29388 2.53266 0.894579 4.27528 0.911063L23.207 1.09014C24.9496 1.10663 26.3489 2.53266 26.3325 4.27528L26.1534 23.207Z"
            fill="#5128A7"
          />
          <path
            d="M13.3433 8.6651C13.79 8.23026 14.2973 8.13662 14.8651 8.38417C15.433 8.63171 15.7145 9.06789 15.7095 9.69269L15.6419 16.8325C15.636 17.4564 15.3464 17.8872 14.773 18.1248C14.1996 18.3625 13.6942 18.2593 13.2568 17.8152L9.65749 14.1762C9.51905 14.0363 9.41567 13.8851 9.34732 13.7227C9.27898 13.5603 9.24568 13.3866 9.24743 13.2018C9.24918 13.0169 9.28576 12.844 9.35716 12.6829C9.42856 12.5218 9.53479 12.3726 9.67585 12.2353L13.3433 8.6651Z"
            fill="white"
          />
        </svg>
      </div>
  
      <!-- Title of the page -->
      <h2 class="title">Request Loan</h2>
    </div>
    <!-- Container for inputs, button, and Meeting component -->
    <div class="container">
      <!-- Left side with inputs -->
      <div class="left">
        <!-- Box around inputs with titles -->
        <div class="first-inputs">
          <div class="input-box">
            <label for="amount">Amount:</label>
            <input type="number" id="amount" [(ngModel)]="loanAmount" />
          </div>
  
          <div class="input-box">
            <label for="date">Date:</label>
            <input type="date" id="date" [(ngModel)]="loanDate" />
          </div>
        </div>
        <!-- Description input -->
        <div class="input-box">
          <label for="description">Description:</label>
          <textarea
            id="description"
            [(ngModel)]="loanDescription"
            rows="4"
          ></textarea>
        </div>
  
        <!-- Submit button with specified color -->
        <div class="button">
          <button class="submit-button" (click)="submitLoanRequest()">
            Submit
          </button>
        </div>
        <div class="message-box" *ngIf="message" [@fadeInOut]>{{ message }}</div>
      </div>
  
      <!-- Right side with Meeting component -->
      <div class="right">
        <app-meeting></app-meeting>
      </div>
    </div>
    
    <div class="loan-list" *ngIf="loans && loans.length">
      <h3 class="loan-list-title">Loan Requests</h3>
      <table class="loan-table">
        <thead>
          <tr>
            <th>Date</th>
            <th>Amount</th>
            <th>Status</th>
            <th>Description</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let loan of loans">
            <td>{{ loan.date | date }}</td>
            <td>{{ loan.amount }}</td>
            <td>{{ loan.status === null ? 'Waiting' : (loan.status ? 'Approved' : 'Declined') }}</td>
            <td>{{ loan.specification }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
