<div class="leaves-container">
  <div>
    <h3 class="leave-title">Pending Loan Requests</h3>
    <ng-container *ngFor="let loan of pendingLoans">
      <div class="leave-box">
        <table class="leave-table">
          <thead>
            <tr>
              <th>
                <div class="avatar">
                  <div class="profile-picture">
                    <img [src]="getImageSource(loan)" alt="User Photo" class="profile-img" />
                  </div>
                  <span>{{ loan.user.fullName }}</span>
                </div>
              </th>
              <th>Department</th>
              <th>Status</th>
              <th>Amount</th>
              <th>Date</th>
              <th>Approve</th>
              <th>Decline</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><span class="rq">Requested a loan</span></td>
              <td>{{ loan.user.department }}</td>
              <td>{{ loan.user.status }}</td>
              <td>{{ loan.amount }}</td>
              <td>{{ loan.date | date: 'MM/dd/yyyy' }}</td>
              <td class="approve">
                <button class="approve-button" (click)="approveLoan(loan.id_request)">
                  <i class="fas fa-check-circle"></i>
                  <!-- Font Awesome check-circle icon -->
                </button>
              </td>
              <td class="decline">
                <button class="decline-button" (click)="declineLoan(loan.id_request)">
                  <i class="fas fa-times-circle"></i>
                  <!-- Font Awesome times-circle icon -->
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </ng-container>

    <div class="space-4cm"></div>

    <h3 class="leave-title">All Loan Requests</h3>
    <ng-container *ngFor="let loan of allLoans">
      <div class="leave-box" *ngIf="loan.status !== null">
        <table class="leave-table">
          <thead>
            <tr>
              <th>
                <div class="avatar">
                  <div class="profile-picture">
                    <img [src]="getImageSource(loan)" alt="User Photo" class="profile-img" />
                  </div>
                  <span>{{ loan.user.fullName }}</span>
                </div>
              </th>
              <th>Department</th>
              <th>Status</th>
              <th>Amount</th>
              <th>Date</th>
              <th>Approved</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><span class="rq">Requested a loan</span></td>
              <td>{{ loan.user.department }}</td>
              <td>{{ loan.user.status }}</td>
              <td>{{ loan.amount }}</td>
              <td>{{ loan.date | date: 'MM/dd/yyyy' }}</td>
              <td>{{ loan.status ? 'Yes' : 'No' }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </ng-container>
  </div>

  <div class="meeting">
    <app-meeting></app-meeting>
  </div>
</div>
  
