<div class="training">
    <!-- Title: Training Title -->
    <div class="sub-container">
      <div>
        <h2 class="title">Training</h2>
  
        <!-- Request Training Box -->
        <div class="request-training-box">
          <div class="request-training" (click)="redirect()">
            <span>Request Training</span>
            <!-- Shape -->
            <div class="shape">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="42"
                height="37"
                viewBox="0 0 42 37"
                fill="none"
              >
                <path
                  d="M0 3.15543C0 1.41273 1.41273 0 3.15543 0H38.8446C40.5873 0 42 1.41273 42 3.15543V33.8446C42 35.5873 40.5873 37 38.8446 37H3.15543C1.41273 37 0 35.5873 0 33.8446V3.15543Z"
                  fill="#5128A7"
                />
                <path
                  d="M21.5417 25.761C20.8054 26.4045 19.9629 26.5488 19.0142 26.1938C18.0655 25.8389 17.5904 25.2035 17.5889 24.2877V13.8222C17.5889 12.9077 18.064 12.2723 19.0142 11.916C19.9644 11.5597 20.8069 11.704 21.5417 12.3489L27.5872 17.6324C27.8197 17.8356 27.9941 18.0558 28.1103 18.2929C28.2266 18.53 28.2847 18.784 28.2847 19.0549C28.2847 19.3259 28.2266 19.5799 28.1103 19.817C27.9941 20.0541 27.8197 20.2742 27.5872 20.4774L21.5417 25.761Z"
                  fill="white"
                />
              </svg>
            </div>
          </div>
        </div>
        <div class="courses-container">
          <!-- Title: Courses -->
          <h2 class="courses-title">Courses</h2>
  
          <!-- Training Table -->
          <div class="table">
            <table>
              <thead>
                <tr>
                  <th>Course</th>
                  <th>Chapters</th>
                  <th>Size</th>
                  <th>Date</th>
                  <th>Select</th>
                </tr>
              </thead>
              <tbody>
                <!-- Use Angular *ngFor to populate table rows with data -->
                <tr *ngFor="let training of courses">
                  <td>
                    <span class="play-icon">&#9658;</span
                    >{{ training.coursename }}
                  </td>
                  <td>{{ training.numchapters }}</td>
                  <td>{{ training.coursesize }}</td>
                  <td>{{ training.date | date : "dd/MM/yyyy" }}</td>
                  <td>
                    <label class="custom-checkbox">
                      <input type="checkbox" [(ngModel)]="training.selected" />
                      <span class="checkmark"></span>
                    </label>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <app-meeting class="app"></app-meeting>
    </div>
  </div>
