<div class="container">
  <div>
      <div class="user-info">
        <ng-container *ngFor="let document of documents">
          <div class="user-avatar">
            <div class="profile-picture">
                <img [src]="getImageSource(document)" alt="User Photo" class="profile-img" />
              </div>
          </div>
          <div class="user-name">{{ userName }}</div>
        </ng-container>
      </div>
      <div class="documents-container">
          <!-- Document Table -->
          <div class="document-table">
              <h2 class="table-title">Documents</h2>
              <table>
                  <thead>
                      <tr>
                          <th>Title</th>
                          <th>Type</th>
                          <!-- Add Type Column -->
                          <th>Size</th>
                          <!-- Add Size Column -->
                          <th>Date</th>
                          <!-- Add Date Column -->
                          <th>Actions</th>
                      </tr>
                  </thead>
                  <tbody>
                      <tr *ngFor="let document of documents">
                          <td>{{ document.docname }}</td>
                          <td>{{ getFileExtension(document.docname) }}</td>
                          <!-- Display Document Type -->
                          <td>{{ document.docsize }}</td>
                          <!-- Display Document Size -->
                          <td>{{ document.date | date : "MM/dd/yyyy, HH:mm:ss" }}</td>
                          <!-- Display Document Date -->
                          <td>
                              <button class="download-button" (click)="downloadDocument(document.id_doc)">
                                  Download
                              </button>
                              <button class="delete-button" (click)="deleteDocument(document.id_doc)">
                                  Delete
                              </button>
                          </td>
                          <!-- Add Download and Delete Buttons -->
                      </tr>
                  </tbody>
              </table>
          </div>

          <!-- Upload Document -->
          <div class="upload-document">
              <div class="buttons-container">
                  <div class="file-input-container">
                      <label for="fileInput" class="custom-file-label">
                          Choose a File
                      </label>
                      <input type="file" id="fileInput" (change)="onFileSelected($event)" accept=".pdf,.doc,.docx" />
                  </div>
              </div>
              <div class="upload-message">{{ uploadMessage }}</div>
          </div>
      </div>
  </div>
  <div class="meeting">
      <app-meeting></app-meeting>
  </div>
</div>
  